body
{
    background: linear-gradient(rgb(255, 255, 255) 25%, #000000 100%);
}

#BYE
{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 100;
}