#img-1
{
    height:300px;
    width:400px;
   
    
}

#img-2
{
    height:300px;
    width:400px;
    padding-left:145px;
}

#img-3
{
    height:300px;
    width:400px;
    padding-left: 150px;
}

#img-4
{
    height:400px;
}