body
{
    background: linear-gradient(rgb(0, 4, 255) 25%, #ffffff 100%);
}

#KP-img1
{
   height: 300;
   width: 500;
   
}

#Kp-img2
{
   height: 300;
   width: 500;
   
}

#KP-img3
{
   height: 300;
   width: 500;
}

#link
{
   color:red;
}

#p
{
   font-size: 10;
}